.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 0 15px;
}

.logo {
  font-size: 22px;
  font-weight: bolder;
}

.nav-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 1.6px;
}

.nav-link:active,
.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

.heading {
  font-size: 28px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #000;
  padding: 15px;
}

hr {
  width: 15%;
  margin: 30px auto;
  border: 1px solid #000;
}

#author-name {
  font-size: 18px;
  align-self: center;
}

button {
  width: 10%;
}

.books {
  display: flex;
  justify-content: space-between;
  color: #000;
  border-bottom: 1px solid silver;
}

.remove-btn {
  width: 20%;
  cursor: pointer;
  background: none;
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  width: 40%;
  gap: 10px;
  flex-direction: column;
}

.form-input {
  padding: 25px 25px 10px 10px;
}

#btn {
  width: 20%;
  font-size: 16px;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  color: #000;
  border: 1px solid #000;
  padding: 15px;
}

.contact-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  font-size: 20px;
}

.contact-list {
  list-style: none;
  font-size: 20px;
}

.nav-list-content {
  display: none;
}

.nav-list-content-active {
  display: flex;
  flex-direction: column;
}

#date {
  text-align: end;
}

.footer {
  border: 2px solid #000;
  margin-top: 30px;
  padding: 0 15px;
}

.copyright {
  font-size: 20px;
}
